
/* setting out the grid for the card ---------------------------------- */
/* ex Large - desktop */

.grid-container {
    display: grid;
    grid-gap: 1rem;
    /* border: 5px solid green; */
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-areas:
      " cardA  cardC  cardB "
      " cardA  cardD  cardB";
  }
  
  /* general styling for template */
  .item {
    /* background: #00b451; */
    /* padding: 1rem; */
    /* text-align: center; */
    border: 2px solid pink;
  }
  
  .cardA {
    grid-area: cardA;
  }
  
  .cardB {
    grid-area: cardB;
  }
  
  .cardC {
    grid-area: cardC;
  }
  
  .cardD {
    grid-area: cardD;
  }
  
  
  /* Small */
  @media (max-width: 600px) {
    .Card {
      height: 180px;
      width: 100%;
    }
  
    .cardA .Card__img {
      /* position: relative; */
      /* right: 100%; */
      /* left: 0rem; */
      z-index: -1;
      width: 10rem;
    }

    .cardB .Card__img {
      position: relative;
      left: 10%;
      z-index: -1;
      width: 10rem;
    }
    
    .grid-container {
      grid-gap: 0.5rem;
      grid-template-columns: 1fr;
      grid-template-areas:
        "cardA"
        "cardC"
        "cardD"
        "cardB";
    }
  }
  