.Card {
  position: relative;
  overflow: hidden;
}

.Card__img {
  /* height: 16rem; */
  /* position: absolute; */
  height: 100%;
  bottom: -30px;
  /* padding: 10px; */
  /* border: solid; */
}

/* DEFAULT  */
.Card__text-container {
  height: 100%;
}

.Card__text-title {
  font-weight: 520;
  font: 1.1rem var(--font-family-1);
  position: absolute;
  bottom: 70px;
}

.Card__text-description {
  line-height: 1.8rem;
  font-weight: 800;
  font: 1.2rem var(--font-family-1);
  position: absolute;
  bottom: 45px;
}

/* card A ----------------------------------------- */
.cardA .Card__img {
  position: relative;
  right: 50%;
  /* left: calc(100% - 25rem); */
  z-index: -10;
  /* bottom: 0px  */
  bottom: -40px;
}

.cardA .Card__text-title {
  margin: 0 auto;
  right: 10px;
  text-align: right;
  z-index: 1;
}

.cardA .Card__text-description {
  margin: 0 auto;
  right: 10px;
  text-align: right;
  z-index: 1;
}

/* card B ----------------------------------------- */
.cardB .Card__img {
  position: relative;
  left: 10%;
  z-index: -1;
}

.cardB .Card__text-title {
  left: 10px;
  text-align: left;
  z-index: 1;
}

.cardB .Card__text-description {
  left: 10px;
  text-align: left;
  margin: 0 auto;
  z-index: 1;
}

  /* Underline ----------------------------------------- */
  .Underline__action {
    font-size: 1px;
    font-size: calc(0.75em + 1vw);
    margin: 10px 0;
    font-weight: 600;
  }
  
  /* .Headline__active-effect { */
  /* padding-bottom: 0.3rem; defines the space between text and underline */
  /* position: relative; */
  
  .cardA .Underline__active-effect::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    /*   static underline */
    width: 40px;
    height: 4px;
    background-color: var(--accent-3);
    transition: width 0.25s ease-out;
  }
  
  .cardB .Underline__active-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    /*   static underline */
    width: 40px;
    height: 4px;
    background-color: var(--accent-3);
    transition: width 0.25s ease-out;
  }
  
  .Underline__active-effect:hover::before {
    width: calc(3em + 5vw);
  }
  