.Card {
    height: 16rem;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .Card__img {
    position: absolute;
    /* height: 100%; */
    bottom: 0px;
  }
  
  /* DEFAULT  */
  .Card__text-container {
    height: 100%;
  }
  
  .Card__text-title {
    /* font-weight: 600; */
    font: 1.1rem var(--font-family-1);
    position: absolute;
    bottom: 90px;
  }
  
  .Card__text-description {
    line-height: 1.8rem;
    font-weight: 800;
    font: 1.2rem var(--font-family-1);
    position: absolute;
    /* bottom: 60px; */
    bottom: calc(0.4em + 35px);
  }
  
  /* card A ----------------------------------------- */
  .cardA .Card__img {
    left: -30px;
    z-index: 1;
  }
  
  .cardA .Card__text-title {
    margin: 0 auto;
    right: 10px;
    text-align: right;
    z-index: 1;
  }
  
  .cardA .Card__text-description {
    right: 10px;
    text-align: right;
    z-index: 1;
  }
  
  /* card B ----------------------------------------- */
  .cardB .Card__img {
    right: -20px;
    z-index: -1;
  }
  
  .cardB .Card__text-title {
    margin: 0 auto;
    left: 10px;
    text-align: left;
  }

  .cardB .Card__text-description {
    left: 10px;
    text-align: left;
  }
  
  /* Underline ----------------------------------------- */
  .Underline__action {
    font-size: 1px;
    font-size: calc(0.75em + 1vw);
    margin: 10px 0;
    font-weight: 600;
  }
  
  /* .Headline__active-effect { */
  /* padding-bottom: 0.3rem; defines the space between text and underline */
  /* position: relative; */
  
  .cardA .Underline__active-effect::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    /*   static underline */
    width: 40px;
    height: 4px;
    background-color: var(--accent-3);
    transition: width 0.25s ease-out;
  }
  
  .cardB .Underline__active-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    /*   static underline */
    width: 40px;
    height: 4px;
    background-color: var(--accent-3);
    transition: width 0.25s ease-out;
  }
  
  .Underline__active-effect:hover::before {
    width: calc(3em + 5vw);
  }
  