
fieldset{
    border:none;  
}

.Newsletter__Heading {
  margin: 20px 0px;
}

.Newsletter__text {
  margin: 20px 0px;
}

/* .Newsletter__form-body{
    padding: 100px auto;
border:none;    
display: flex;
flex-direction: column;
} */

.Newsletter__form-body {
  font-family: var(--font-family-2);
  font-size: var(--font-size-4);
  padding: 50px 30px;
  margin: 50px 0;
  box-sizing: border-box;
  position: relative;
  }

.Newsletter__form-body,
.bgd__image {
  width: 100%;
  object-fit: cover;
}

input[type="email"] {
  width: 50%;
  min-width: 200px;
  padding: 10px;
  margin: 0px auto;
  /* box-sizing: border-box; */
  /* background: none; */
  outline: none;
  /* resize: none; */
  border: 0;
  border: 2px solid var(--border-color-1);
  transition: all 0.3s;
}

input[type="email"]:focus:required:invalid {
  border: 2px solid var(--border-color-2);
  box-shadow: var(--box-shadow-3);
}

#Newsletter__form-submit-Btn {
    width: 50%;
    min-width: 200px;
  padding: 8px 12px;
  font-family: var(--font-family-2);
  background-color: var(--accent-1);
  font-size: var(--font-size-3);
  color: var(--font-color-1);
  margin: 10px 0px;
  border: none;
  
  cursor: pointer;
  transition: all 0.3s;
}

#Newsletter__form-submit-Btn:hover {
  background-color: var(--accent-2);
  color: var(--font-color-2);
}
