h2 {
    /* margin: 8%; */

}

.Newsletter__form-body {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:0;
    position: relative;
    padding-top: 50%;
    margin-right: 10px;
  }

  .Newsletter__signUp {
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;  
    overflow: hidden;
  }


.Newsletter__background-img {
    /* position:relative; */
    /* top:0; */
    /* left: 0; */
    width:100%;
    height:100%;  
    overflow: hidden;
    z-index: -1;
    position:absolute;  
}


input[type='email'] {
    width: 60%;
    padding: 14px;
    width: 75%;
    left: 0;
    float: left;
    bottom: 250px;

    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    border: 2px solid var(--border-color-1);
    transition: all 0.3s;
}

input[type='email']:focus:required:invalid {
    border: 2px solid var(--border-color-2);
    box-shadow: var(--box-shadow-3);
}

#Newsletter__form-submit-Btn {
    position: relative;
    width: 20%;
    right: 0;
    float: right;
    top: 250px;

    padding: 10px;
    font-family: var(--font-family-2);
    background-color: var(--accent-1);
    font-size: var(--font-size-3);
    color: var(--font-color-1);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

#Newsletter__form-submit-Btn:hover {
    background-color: var(--accent-2);
    color: var(--font-color-2);

}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }