.Card {
    border-radius: 0.2rem;
    height: 16rem;
    display: flex;
    position: relative;
    overflow: hidden;
    background: var(--background-2);
  }
  
  .Card__img {
    height: 16rem;
    position: absolute;
    left:-40px;
    bottom: -10px;  
  }
  
  .Card__text-container {
    margin-right: 0px;
    text-align: right;  
    position: absolute;
    right: 0;
    text-transform:uppercase;
    bottom: 2rem;
    margin: 0px 20px;
  }
  
  .Card__text-title {
    line-height: 1.4rem;  
    font: 1.2rem var(--font-family-1);
    position: relative;
    font-weight: 520;
  }
  
  .Card__text-description {
    line-height: 1.4rem;
    font: 1rem var(--font-family-1);
    font-weight: 600;
  }

  .Card--A > .Card__img {
    right:-20px;
    left: auto;
  }

  .Card--A > .Card__text {
   text-align: left;
   left: 0px;
   right: auto;
 }