.Contact__map {
    position: relative;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
/* 
iframe {
    left: 0;
    display: block;
    width: 50%;
    height: 40em;
} */