
.cardR {
  background-color: var(--accent-6);
  margin: 20px 0px 0px 0px;
}

/* DEFAULT text container   */
.Card__text-container-e {
  height: 200px;
  text-align: center;
  position: relative;
  color: var(--font-color-2);
  font-weight: 700;
}

/* card 1 -------------------------------- */

.Card__Information {
  line-height: 1.8rem;
  font: 1.4rem var(--font-family-1);
  position: relative;
  bottom: -10px;
  display: block;

  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--accent-3);  
}

.Card__AboutUs {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -50px;
  left: 0px;
  display: block;
}

.Card__LatestPost {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -70px;
  left: 0px;
  display: block;
}

.Card__ContactUs {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  left: 0px;
  display: block;
}

/* Card 2 --------------------------------*/

.Card__MyAccount {
  line-height: 1.8rem;
  font: 1.4rem var(--font-family-1);
  position: relative;
  bottom: -10px;
  display: block;

  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--accent-3);
}

.Card__Login {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -50px;
  left: 0px;
  display: block;
}

.Card__Cart {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -70px;
  left: 0px;
  display: block;
}

.Card__WishList {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  left: 0px;
  display: block;
}

.Card__OrderHistory {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -110px;
  left: 0px;
  display: block;
}

/* Card 3 --------------------------------*/

.Card__HelpSupport {
  line-height: 1.8rem;
  font: 1.4rem var(--font-family-1);
  position: relative;
  bottom: -10px;
  display: block;

  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--accent-3);
}

.Card__Payment {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -50px;
  left: 0px;
  display: block;
}

.Card__Returns {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -70px;
  left: 0px;
  display: block;
}

.Card__Delivery {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  left: 0px;
  display: block;
}

.Card__Privacy {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -110px;
  left: 0px;
  display: block;
}
