/* .Product__Card-container {
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    border: 10px solid yellow;
    
  }
  
  .Product__Card {
    border-radius: 0.2rem;
    height: 16rem;
    display: flex;
    position: relative;
    overflow: hidden;
    background: var(--background-2);
  }
  
  .Product__Card-img {
    height: 16rem;
    position: absolute;
    left:-40px;
    bottom: -10px;  
  }
  
  .Product__Card-B  > .Product__Card-img {
    right:-20px;
    left: auto;
    } 
  
  .Product__Card-text-Container {
    margin-right: 0px;
    text-align: right;  
    position: absolute;
    right: 0;
    text-transform:uppercase;
    bottom: 2rem;
    margin: 0px 20px;
  }
  
  .Product__Card-B > .Product__Card-text {
     text-align: left;
    left: 0px;
    right: auto;
  }
  
  .Product__Card-text-title {
    line-height: 1.4rem;  
    font: 1.2rem var(--font-family-1);
    position: relative;
    font-weight: 520;
  }
  
  .Product__Card-text-description {
    line-height: 1.4rem;
    font: 1rem var(--font-family-1);
    font-weight: 600;
  }
  

  /*
  320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops.
  1025px — 1200px: Desktops, large screens.
  1201px and more — Extra large screens, TV.
  
  */  