/* Contact MAP --------------------------------------------------------------------- */

/* refactor this for all cards */
.Card {
  height: 0 auto;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0 0 0;
}

.cardP {
  text-align: center;
}

.cardQ {
  background-color: black;
}

/* DEFAULT text container   */
.Card__text-container {
  height: 300px;
  text-align: center;
  position: relative;
  color: white;
  font-weight: 700;
  padding: 80px 0pc;
}

.Card__text-Street {
  line-height: 1.8rem;
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -60px;
  margin: 0px auto;
  left: 0px;
  display: inline;
}

.Card__text-county {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -80px;
  left: 0px;
  display: block;
}

/* number ----------------------------- */
.Card__text-CountryCode {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  left: -5px;
  display: inline;
}

.Card__text-ContactNumber {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  left: 0px;
  display: inline;
}

.Card__text-Email {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -100px;
  display: block;
}
