/* DEFAULT text container   */
.Card__c {
  height: 0 auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
 
.Card__logo{
  display: relative;
  margin-top: 10px;
  height: 30px;
  /* replace this when banner img is renamed */
  /* padding: 0 45% 0 50%; */
  text-align: center;
  
}

.cardP {
  background-color: black; 
  height: 400px;
  color: white;
  text-align: center;
  font-weight: 700;
}

/* DEFAULT text container   */
.Card__text-container-c {
  text-align: center;
  position: relative;
  
}

.Card__text-Street-Number-container {
  text-align: center;
}

.Card__text-Street {
  line-height: 1.8rem;
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -60px;
  /* margin: 0px auto; */
  /* left: 0px; */
  display: inline;
}

.Card__text-county {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -80px;
  /* left: 10px; */
  display: block;
}

/* number ----------------------------- */
.Card__text-CountryCode {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  /* left: -10px; */
  display: inline;
}

.Card__text-ContactNumber {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -90px;
  /* left: 0px; */
  display: inline;
}

.Card__text-Email {
  font: 1.2rem var(--font-family-1);
  position: relative;
  bottom: -100px;
  display: block;
}
