 .Banner__container  {
    background-size: 100%;
    background-repeat: no-repeat;
    /* width: 100%; */
    height:0;
    position: relative;
  /*   calculated on the the width ? */
    padding-top: 43.6%; 
    padding-top: 50%;
    /* background-color: var(--background-2); */
    margin-right: 10px;
  }
  
  .Banner__content {
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:90%;  
    overflow: hidden;
  }
  
  .bgd__image {
    z-index: -1;
    position:absolute; 
    top:0px;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
  }
  
  .animated__image-container {
    position:relative;
    overflow: hidden;
    height:100%;  
  }
  
  .image__slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 3s;
    height:100%;
  }
  
  /* rename this  */
  .image__slides > img {
    position: relative;
    bottom: 0px;
    overflow: hidden;
    float: right;
    margin: 0 10% 0 0;
    height:100%;
  }
  
  .dot__container {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: 0px;
    z-index: 1000;
    width:100%;
  }

  .dot {
    display: inline-block;
    border-radius: 50%;
    border: var(--border-style-1);
    /* padding: 6px; */
    padding:calc(0.15em + 0.3vw);
    margin: 10px 5px;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  .active {
    background: var(--background-4);
  }
  

.Headline__container {
  top: 20%;
  /* left: 70px; */
  left: calc(0.75em + 4vw);
  position: absolute;
  font: inherit;
  /* font-size: 12px; */
  font-size: max(1vw, 12px);  
  margin: 10px 0;
  font-family: var(--font-family-1);
}

.Shop__name {
  position: relative;
  font: inherit;
  /* font-size: 20px; */
  font-size: calc(0.75em + 1vw);
  margin: 5px 0;
  letter-spacing: 3px;
}
 /*refactor for all components and put this in the app.css */
.Headline__season {
  position: relative;
  font: inherit;
  /* put this in the variables app.css */
  font-size: calc(0.95em + 4vw);   /* use pixels  */
  margin: 5px 0;
}

span {
  font-weight: 600;
}

.Headline__strapline {
  position: relative;
  font: inherit;
  font-size: calc(0.75em + 2vw);
  margin: 5px 0;
}

.Headline__action {
  position: relative;
  font-size: 1px;
  font-size: calc(0.75em + 1vw);
  margin: 10px 0;
  font-weight: 600;
}

.Headline__active-effect {
  padding-bottom: 0.30rem; /* defines the space between text and underline */
  position: relative;
}

.Headline__active-effect::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
/*   static underline */
  width: 40px;
  height: 4px;
  background-color: rgb(0, 255, 0);
  transition: width 0.25s ease-out;
}

.Headline__active-effect:hover::before  {
  width: calc(2em + 6vw);
}
